<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.3.xsd">

	<context:component-scan base-package="com.revature"></context:component-scan>

	<!-- Enable @Transactional annotation -->
	<tx:annotation-driven/>
	
	<bean id="myDataSource" class="org.apache.commons.dbcp.BasicDataSource">
		<property name="url" value="jdbc:postgresql://rev1811java-nick-db.cjteoptiiwyx.ca-central-1.rds.amazonaws.com:5432/postgres?"></property>
		<property name="username" value="njurczak"></property>
		<property name="password" value="Revature"></property>
		<property name="driverClassName" value="org.postgresql.Driver"></property>
	</bean>

	<bean id="mySessionFactory" class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
		<property name="dataSource" ref="myDataSource"></property>
		
		<property name="packagesToScan" value="com.revature.domains"></property>
		
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</prop>
				<prop key="hibernate.show_sql">true</prop>
				<prop key="hibernate.format_sql">true</prop>
				<prop key="hibernate.id.new_generator_mappings">false</prop>
			</props>
		</property>
		
	</bean>
	
	<bean id="transactionManager" class="org.springframework.orm.hibernate5.HibernateTransactionManager">
		<property name="sessionFactory" ref="mySessionFactory"></property>
	</bean>

</beans>
